<ion-content class="background">
  <!-----Title----->
  <h2 class="text-center weighter"><b>WEIGHTER</b></h2>


  <!-----Display Weight----->
  <div class="weight-display-wrap text-center mt-4 px-5">
    <div class="weight-display">
      <p> weight is <b>267.70</b> kgs</p>
    </div>
  </div>

  <div class="container weighter-details-wrapper">
    <div class="row">
      <!-----Display Date----->
      <div class="col-6 display-date mt-4">
        <b>Date:<br></b>
        <input type="date" value="{{currentDate | date:'yyyy-MM-dd'}}" class="calendar">


      </div>


      <!-----Fish Type----->
      <div class="col-6">
        <p class="select-category"><b>Select Category:</b></p>
        <ion-item id="select-category-dropdown">
          <ion-label class="dropdown-label">Category</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="goldfish">Gold Fish</ion-select-option>
            <ion-select-option value="guppy">Guppy</ion-select-option>
            <ion-select-option value="bluefish">Blue Fish</ion-select-option>
            <ion-select-option value="tilapia">Tilapia</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>

    <div class="row mt-3">
      <!-----Fish Category----->
      <div class="col-6">
        <p class="select-category"><b>Select Type: </b></p>
        <ion-item id="select-category-dropdown">
          <ion-label class="dropdown-label">Fish Type</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="first">1st</ion-select-option>
            <ion-select-option value="second">2nd</ion-select-option>
            <ion-select-option value="third">3rd</ion-select-option>

          </ion-select>
        </ion-item>
      </div>

      <!-----FLocation----->
      <div class="col-6">
        <p class="select-category"><b>Select Location: </b></p>
        <ion-item id="select-category-dropdown">
          <ion-label class="dropdown-label">Location</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="annur">Annur</ion-select-option>
            <ion-select-option value="sirumugai">Sirumugai</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>


    <!-----Submit Button---->
    <div class="button-wrapper" class="px-5 mt-3">
      <ion-button class="submit-button" color="transparent" expand="block" style="background-color: #6863CC;">
        <b>SUBMIT</b>
      </ion-button>

    </div>

  </div>


  <!-----Table----->
  <table class="table">
    <thead style="background-color:#6863CC;" class="text-white">
      <tr>
        <th scope="col-3">Time</th>
        <th scope="col-1">Weight<br>(kgs)</th>
        <th scope="col-2">Location</th>
        <th scope="col-2">Category</th>
        <th scope="col-2">Type</th>
        <th scope="col-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">10.00</th>
        <td>120</td>
        <td>Annur</td>
        <td>Tilapia</td>
        <td>1st</td>
        <td>
          <ion-icon name="trash-outline" class="trash"></ion-icon>
        </td>
      </tr>
      <tr>
        <th scope="row">12.00</th>
        <td>100</td>
        <td>Sirumugai</td>
        <td>Tilapia</td>
        <td>2nd</td>
        <td>
          <ion-icon name="trash-outline" class="trash"></ion-icon>
        </td>
      </tr>

    </tbody>
  </table>
</ion-content>