.welcome-back{
    margin-top: 75px;
}

.username{
    border: 1px #8D3DAF solid;
    font-size: 14px;
}


.password{
    border: 1px #8D3DAF solid;
    font-size: 14px;
}

.forgot-password{
    text-align: right;
    padding-right: 18px;
    font-size: 13px;
}

