<ion-content class="background">

  <!-----Title----->
  <div class="title-wrap">
    <h2 class="text-center welcome-back"><b>DASHBOARD</b></h2>
  </div>

  <!-----Sub-Title----->
  <h4 class="text-center connectivity mt-4"><b>CONNECTIVITY</b></h4>
  <div class="row text-center mt-4">
    <div class="col-8">

      <!-----Toggle----->
      <h5 class="text-center bluetooth-status"><b>Bluetooth Status</b></h5>
    </div>
    <div class="col-1 mt-2">
      <ion-toggle slot="end" color="tertiary" class="toggle-bluetooth"></ion-toggle>
    </div>
  </div>
  <div class="bluetooth-connection-message-wrap text-center mt-5 px-5">
    <div class="bluetooth-connection-message py-2 pt-3">
      <p><b> Oops ! <br> Bluetooth Not Connected</b></p>
    </div>
  </div>
</ion-content>